.tabOptions .row .col {
  padding: 0;
}
.tabOptions .slick-slider {
  height: 80px;
}
.options-wrapper {
  display: flex;
  justify-content: center;
}
.tab-text {
  padding: 0px 20px;
  font-weight: 500;
  height: 50px;
  border: 1px solid darkgrey;
  border-radius: 8px;
  margin: 0px 5px;
  width: max-content;
}
.tabOptions .slick-slider button {
  /* border-radius: 25px; */
  margin-top: -15px;
}

.tabOptions .slick-prev:before {
  color: var(--active-color) !important;
}
.tabOptions .slick-next:before {
  color: var(--active-color) !important;
}



.tabOptions .slick-prev:before {
  position: absolute;
  top: calc(50% - 6px);
  left: 5px;
  content: '';
  border: solid #443939e6;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(137deg);
}
.tabOptions .slick-next:before{
  position: absolute;
    top: calc(50% - 6px);
    transform: rotate(-45deg);
    left: 5px;
    content: '';
    border: solid #443939e6;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 3px;
}


.cardsSection {
  margin: 0px 10px;
  padding: 5px 0px;
}
.cardsSection .card {
  overflow: hidden;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 350px;
  width: 18rem;
  margin-bottom: 20px;
}
.cardsSection .card .card-body {
  text-align: left;
}
.cardsSection .card .btn {
  color: #e25b25;
  border: 1px solid #e25b25;
  border-radius: 12px;
  height: 28px;
  width: 50%;
  float: right;
}
.cardsSection .card .priceCard {
  font-weight: bold;
  margin-top: 10px;
}
.cardsSection .card .new-deal {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}
.cardsSection .card .new-deal img {
  height: 50px;
  width: 50px;
}
.cardsSection .card-body .card-title {
  font-size: 16px;
}
.cardsSection .card-body .card-text {
  font-weight: bold;
  color: #a16fae;
  margin-bottom: 0px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cardsSection .card-body .starRate {
  background-color: #f0c61a;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  width: 30%;
  border-radius: 25px;
  padding: 2px 0px;
  margin: 4px 0px;
}
.cardsSection .card-body .starRate img {
  margin-right: 5px;
}

@media (max-width: 1199.98px) {
}

@media (max-width: 991.98px) {
}

@media (max-width: 767.98px) {
  .cardsSection .card {
    width: 14rem;
    height: 320px;
  }
  .cardsSection .card .btn {
    font-size: 12px;
  }
}

@media (max-width: 575.98px) {
}
