.blogPage .searchAndBanner {
  background-image: url("https://kidzapp.com/images/blog-banner.jpg");
  background-size: cover;
  background-position: center;
  padding: 40px 0;
  background-repeat: no-repeat;
  box-shadow: rgb(0 0 0 / 15%) 0 0 8px;
}
.blogPage .searchAndBanner .container {
  max-width: 600px;
}
.blogPage .searchAndBanner .searchButton input {
  padding: 22px;
}
.blogPage .searchAndBanner .searchButton .btn {
  margin-left: 10px;
  background-color: var(--active-color);
  color: #fff;
  font-weight: bold;
  padding: 0px 20px;
}
.blogPage .topTabs .btn {
  font-weight: 700;
  font-size: 17px;
}
.blogPage .topTabs .btn .icon {
  font-size: 20px;
  margin-right: 10px;
}
.blogPage .topTabs .row {
  padding: 0;
}
.blogPage .topTabs ul li {
  list-style-type: none;
  border-radius: 8px;
  padding: 10px 0px;
}
.blogPage .topTabs ul li a {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.blogPage .blogListing {
  margin-top: 25px;
}
.blogPage .blogListing h1 {
  font-weight: 700;
}
.blogPage .blogListing p {
  font-size: 18px;
  font-weight: 500;
  color: #222;
  line-height: 24px;
}

.blogPage .products .card {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 12px;
}

.blogPage .products .card .cardImage {
  height: 14rem;
  overflow: hidden;
  border-radius: 12px;
}
.blogPage .products .card .cardImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  -ms-transform: scale(1.1);
  transform: scale(1);
  transition: all 0.3s ease-in 0s;
}

.blogPage .products .card:hover img {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.blogPage .products .card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transform: translate(0, -1px);
}

.blogPage .products .card .card-body {
  padding: 1.25rem 0;
}
.blogPage .products .card .card-body .card-title {
  height: 40px;
  overflow: hidden;
}
.blogPage .products .card .btn {
  font-weight: 400;
  color: #0056b5;
  padding: 0;
}
.blogPage .products .card .card-body .icon {
  color: #b086bc;
}
.blogPage .products .card .card-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  color: #666;
  font-weight: 400;
}

/* responsive */

/* Large devices (desktops, less than 1200px) */
/* @media (max-width: 1199.98px) { ... } */

/* Medium devices (tablets, less than 992px) */
/* @media (max-width: 991.98px) { ... } */

/* Small devices (landscape phones, less than 768px) */
/* @media (max-width: 767.98px) { ... } */

/* Extra small devices (portrait phones, less than 576px) */
/* @media (max-width: 575.98px) { ... } */

@media (max-width: 1199.98px) {
}

@media (max-width: 991.98px) {
  .blogPage .topTabs ul li a {
    font-size: 15px;
  }
  .blogPage .blogListing p {
    font-size: 18px;
  }
  .blogPage .products .card .cardImage {
    height: 12rem;
  }
  .blogPage .products .card .col-md-6 p {
    font-size: 8px;
  }
  .blogPage .products .card .card-text {
    font-size: 12px;
  }
}

@media (max-width: 767.98px) {
  .blogPage .topTabs ul li a {
    font-size: 10px;
  }
  .blogPage .blogListing p {
    font-size: 14px;
  }
  .blogPage .products .card .cardImage {
    height: 8rem;
  }

  .blogPage .products .card .col-md-6 {
    text-align: left;
  }
  .blogPage .products .card .col-md-6 p {
    font-size: 14px;
  }
  .blogPage .products .card .card-text {
    font-size: 12px;
  }
}

@media (max-width: 575.98px) {
  .blogPage .blogListing p {
    font-size: 15px;
  }

  .blogPage .topTabs .col-sm-3 {
    width: 25%;
    padding: 0px 5px !important;
  }
  .blogPage .topTabs ul li a {
    font-size: 8px;
  }

  .blogPage .products .card .col-md-6 p {
    text-align: center;
    color: var(--active-color);
  }
  .blogPage .products .card .card-body .card-title {
    height: 50px;
    font-size: 22px;
    font-weight: 700;
    color: var(--active-color);
  }
  .blogPage .products .card .buttonDiv {
    text-align: center;
  }
  .blogPage .products .card .btn {
    color: var(--active-color);
  }

  .blogPage .products .card .cardImage {
    height: 14rem;
  }

  .blogPage .products .card .col-md-6 p {
    font-size: 18px;
  }
  .blogPage .products .card .card-text {
    font-size: 15px;
  }
}

@media (max-width: 380.98px) {
  .blogPage .searchAndBanner .searchButton input {
    padding: 15px;
  }
  .form-control {
    font-size: 0.5rem;
  }

  .blogPage .topTabs ul li a {
    font-size: 6px;
  }
  .blogPage .products .card .cardImage {
    height: 10rem;
  }
  .blogPage .products .card .col-md-6 p {
    font-size: 14px;
  }
}
